# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*.class

# Virtual environment
venv/

# Environment variables / secrets
.env

# Editor / IDE
.vscode/
.idea/

# macOS
.DS_Store

# Logs
*.log

# Python dist / packaging
build/
dist/
*.egg-info/
